<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>2</string>
	<key>Summary</key>
	<string>This generates a new scene following MVVMC architecture.</string>
	<key>Description</key>
	<string>This generates a new scene following MVVMC architecture. It consists of the view model, view controller, coordinator, state, and store.</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the scene to create</string>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Name</key>
			<string>New Scene Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>myScene</string>
			<key>Description</key>
			<string>The scene identifier for routing</string>
			<key>Identifier</key>
			<string>sceneIdentifier</string>
			<key>Name</key>
			<string>Scene Identifier</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>ViewModels/___VARIABLE_sceneName:identifier___ViewModel</string>
			<key>Description</key>
			<string>The view model name</string>
			<key>Identifier</key>
			<string>viewmodelName</string>
			<key>Name</key>
			<string>View Model Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>Views/___VARIABLE_sceneName:identifier___ViewController</string>
			<key>Description</key>
			<string>The view controller name</string>
			<key>Identifier</key>
			<string>viewcontrollerName</string>
			<key>Name</key>
			<string>View Controller Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>Coordinator/___VARIABLE_sceneName:identifier___Coordinator</string>
			<key>Description</key>
			<string>The coordinator name</string>
			<key>Identifier</key>
			<string>coordinatorName</string>
			<key>Name</key>
			<string>Coordinator Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>State/___VARIABLE_sceneName:identifier___State</string>
			<key>Description</key>
			<string>The state name</string>
			<key>Identifier</key>
			<string>stateName</string>
			<key>Name</key>
			<string>State Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>Store/___VARIABLE_sceneName:identifier___Store</string>
			<key>Description</key>
			<string>The store name</string>
			<key>Identifier</key>
			<string>storeName</string>
			<key>Name</key>
			<string>Store Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>case .___VARIABLE_sceneIdentifier:identifier___</string>
			<key>Description</key>
			<string>The enum case to use for the Scene</string>
			<key>Identifier</key>
			<string>sceneEnumCase</string>
			<key>Name</key>
			<string>Scene:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<dict>
			<key>group</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>path</key>
			<string>Coordinator/___VARIABLE_sceneName:identifier___Coordinator.swift</string>
			<key>destination</key>
			<string>___VARIABLE_sceneName:identifier___/Coordinator</string>
		</dict>
		<dict>
			<key>group</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>path</key>
			<string>State/___VARIABLE_sceneName:identifier___State.swift</string>
			<key>destination</key>
			<string>___VARIABLE_sceneName:identifier___/State</string>
		</dict>
		<dict>
			<key>group</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>path</key>
			<string>Store/___VARIABLE_sceneName:identifier___Store.swift</string>
			<key>destination</key>
			<string>___VARIABLE_sceneName:identifier___/Store</string>
		</dict>
		<dict>
			<key>group</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>path</key>
			<string>ViewModels/___VARIABLE_sceneName:identifier___ViewModel.swift</string>
			<key>destination</key>
			<string>___VARIABLE_sceneName:identifier___/ViewModels</string>
		</dict>
		<dict>
			<key>group</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>path</key>
			<string>Views/___VARIABLE_sceneName:identifier___ViewController.swift</string>
			<key>destination</key>
			<string>___VARIABLE_sceneName:identifier___/Views</string>
		</dict>
	</array>
</dict>
</plist>
